/* Header */

#nav-header {
    z-index: 1024;
}

.navbar-brand {
    color: #4b2e4c !important;
}

.navbar-brand img {
    height: 100%;
    width: auto;
    margin-top: -5px;
}

/* Footer */

.footer {
    background: #fafafa;
    box-shadow: none;
    margin-top: 50px;
}