#search-form {
    border: none;
}

#search-form .form-group,
#search {
    width: 100%;
}

@media (min-width: 768px) {
    #search-form {
        width: 300px;
    }
}

#search.typeahead-open {
    border-radius: 5px 5px 0 0;
}

.typeahead {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #b2bebe;
    border-radius: 0 0 5px 5px;
    z-index: 2048;
    background-color: #fff;
}

.typeahead ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.typeahead ul li {
    padding: 4px;
    font-size: 16px;
    vertical-align: top;
}

.typeahead ul li:not(:first-child) {
    height: 50px;
    line-height: 1.15em;
}

.typeahead ul li:not(:first-child):hover {
    background-color: #eee;
    cursor: pointer;
}

.typeahead ul li:first-child {
    background-color: #b2bebe;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 #98a2a2;
}

.typeahead ul li .img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 40px;
    height: 40px;
}

.typeahead ul li .img.entity-image {
    background-position: 0 0;
}

.typeahead ul li .text {
    margin-left: 50px;
}